<ion-header no-border>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
    <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list color="dark">
    <ion-item color="dark">
        <ion-label position="floating">New Item</ion-label>
          <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header color="dark">
    <ion-label position="fixed">Tareas por hacer</ion-label>
    </ion-list-header>

    <ion-item color="dark">
      <ion-checkbox slot="start"
                    color="tertiary"></ion-checkbox>
      <ion-label>Hacer ejercicio hoy</ion-label>
    </ion-item>

</ion-content>
